html {
  box-sizing: border-box;
}

html,
body {
  .reset-block();
  min-width: 320px;
  color: @base-color;
  font-family: @base-font-family;
  font-size: @base-font-size;
  text-transform: uppercase;
}

p,
h1,
h2,
h3 {
  .reset-block();
}
