.advantages {
  .reset-spaces();
  display: flex;
  flex-wrap: wrap;

  /////*** ITEM ***/////
  &__item {
    display: flex;
    flex-wrap: wrap;
    .reset-spaces();
    .set-colors(@clr: @light-color, @bgclr: @alt-color);
    width: 100%;
  }
  &__item:first-child {
    padding-top: 18px;
    background-repeat: no-repeat;
    background-position: 50% top;
    background-image: url("@{img-path}/bg-triangle.svg");
    background-size: 320px 18px;
    @media @tablet-widths {
      padding-top: 0;
      background-image: none;
    }
  }
  &__item--brief {
    .set-colors(@bgclr: @darker-7pct-color);
    padding-top: 25px;
    @media @tablet-widths {
      width: 256px;
      min-height: 256px;
      padding-top: 45px;
    }
    @media @desktop-widths {
      width: 400px;
    }
  }

  /////*** TEXT ***/////
  &__text {
    line-height: @dense-line-height;
    margin: 0 20px;
    padding: 40px 12px;
    @media @tablet-widths {
      width: 256px;
      margin: 0;
      padding: 45px 35px;
    }
    @media @desktop-widths {
      width: 400px;
      padding: 55px 70px;
    }
  }
  &__item--brief &__text {
    padding-top: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid @darker-10pct-color;
  }
  &__item--brief:last-child &__text {
    border-bottom: none;
  }
  &__item:nth-child(even) &__text {
    @media @tablet-widths {
      order: 1;
    }
  }

  /////*** PHOTO ***/////
  &__photo {
    flex-grow: 1;
    width: 100%;
    line-height: 0;
    @media @tablet-widths {
      width: 512px;
    }
  }

  /////*** TITLE ***/////
  &__title {
    .title(@fsz: @font-size-bigger1, @clr: @light-color);
    @media @tablet-widths {
      .title(@fsz: @font-size-bigger2, @clr: @light-color);
      margin: 0 15px;
    }
    @media @desktop-widths {
      margin: 0 50px;
    }
  }
  &__item--brief &__title {
    .title(@clr: @dark-color);
    @media @tablet-widths {
      .title(@fsz: @font-size-bigger2);
    }
  }

  /////*** NUMBER ***/////
  &__number {
    margin: 12px 0;
    @media @tablet-widths {
      margin-bottom: 20px;
    }
    &::before {
      content: "- ";
    }
    &::after {
      content: " -";
    }
  }
}
