.intro {
  .reset-spaces();
  min-height: 158px;
  @media @tablet-widths {
    min-height: 290px;
  }
  @media @desktop-widths {
    min-height: 301px;
  }
  &--main-page {
    min-height: 389px;
    @media @tablet-widths {
      min-height: 518px;
    }
  }
}
